<div class="well row">
  <div class="col-lg-4 col-md-6">
    <div class="list-group">
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/bridal-hair.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$90</div>
                <h4 class="list-group-item-heading">Day of Bridal Hair</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/bridal-trial.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$90</div>
                <h4 class="list-group-item-heading">Bridal Trial</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/bridal-makeup.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$50</div>
                <h4 class="list-group-item-heading">Day of Bridal Makeup</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/bridal-makeup-trial.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$50</div>
                <h4 class="list-group-item-heading">Bridal Makeup Trial</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
          <div class="row-picture">
              <%= image_tag("services/makeup.png", class: "circle") %>
          </div>
          <div class="row-content">
              <div class="least-content">$45</div>
              <h4 class="list-group-item-heading">Special Occassion Makeup</h4>
          </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
          <div class="row-picture">
              <%= image_tag("services/refresh.png", class: "circle") %>
          </div>
          <div class="row-content">
              <div class="least-content">$20</div>
              <h4 class="list-group-item-heading">Makeup Refresh</h4>
              <p class="list-group-item-text">Eyes, lips & cheeks only</p>
          </div>
        </div>
    </div>
  </div>
</div>


