<div class="well row">
  <div class="col-lg-4">
    <div class="list-group">
      <div class="list-group-item">
          <div class="row-picture">
              <%= image_tag("services/haircut-men.png", class: "circle") %>
          </div>
          <div class="row-content">
              <div class="least-content">$35</div>
              <h4 class="list-group-item-heading">Men's Haircut</h4>
              <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
          </div>
      </div>
      <div class="list-group-separator"></div>
      <div class="list-group-item">
          <div class="row-picture">
              <%= image_tag("services/hair-women.png", class: "circle") %>
          </div>
          <div class="row-content">
              <div class="least-content">$55</div>
              <h4 class="list-group-item-heading">Women's Haircut</h4>
              <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
          </div>
      </div>
      <div class="list-group-separator"></div>
      <div class="list-group-item">
        <div class="row-picture">
          <%= image_tag("services/blowout.png", class: "circle") %>
        </div>
        <div class="row-content">
          <div class="least-content">$35</div>
          <h4 class="list-group-item-heading">Blowout</h4>
          <p class="list-group-item-text">shampoo & blowdry</p>
        </div>
      </div>
      <div class="list-group-separator"></div>
      <div class="list-group-item">
        <div class="row-picture">
          <%= image_tag("services/scalp.png", class: "circle") %>
        </div>
        <div class="row-content">
          <div class="least-content">$15</div>
          <h4 class="list-group-item-heading">Scalp Massage</h4>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
        </div>
      </div>
      <div class="list-group-separator"></div>
      <div class="list-group-item">
        <div class="row-picture">
          <%= image_tag("services/trim.png", class: "circle") %>
        </div>
        <div class="row-content">
          <div class="least-content">$15</div>
          <h4 class="list-group-item-heading">Trim</h4>
          <p class="list-group-item-text">Bangs & Neck</p>
        </div>
      </div>
      <div class="list-group-separator"></div>
      <div class="list-group-item">
        <div class="row-picture">
          <%= image_tag("services/special.png", class: "circle") %>
        </div>
        <div class="row-content">
          <div class="least-content">$80</div>
          <h4 class="list-group-item-heading">Special Occassion</h4>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- SECTION TWO -->

  <div class="col-lg-4">
    <div class="list-group">
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/keratin-complex.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$250</div>
                <h4 class="list-group-item-heading">Keratin Complex</h4>
                <p class="list-group-item-text">Five month hair smoothing treatment</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/keratin-express.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$150</div>
                <h4 class="list-group-item-heading">Keratin Express</h4>
                <p class="list-group-item-text">6-8 week hair smoothing treatment</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/balayage-full.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$145</div>
                <h4 class="list-group-item-heading">Full Balayage</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/balayage-partial.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$120</div>
                <h4 class="list-group-item-heading">Partial Balayage</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/painting-part.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$50</div>
                <h4 class="list-group-item-heading">Painting the Part</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/foil-full", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$125</div>
                <h4 class="list-group-item-heading">Full Foil</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/foil-partial.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$100</div>
                <h4 class="list-group-item-heading">Partial Foil</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/foil-sectional.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$45</div>
                <h4 class="list-group-item-heading">Sectional Foil</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/bleach-tone.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$100</div>
                <h4 class="list-group-item-heading">Bleach & Tone</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/color.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$60</div>
                <h4 class="list-group-item-heading">Color</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/gloss.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$40</div>
                <h4 class="list-group-item-heading">Gloss</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/corrective-color.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$120+</div>
                <h4 class="list-group-item-heading">Corrective Color</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
    </div>
  </div>

  <!-- SECTION 3 -->
  <div class="col-lg-4">
    <div class="list-group">
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/bridal-hair.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$90</div>
                <h4 class="list-group-item-heading">Bridal Hair</h4>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/bridal-trial.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$90</div>
                <h4 class="list-group-item-heading">Bridal Trial</h4>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/bridal-makeup.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$50</div>
                <h4 class="list-group-item-heading">Bridal Makeup</h4>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/bridal-makeup-trial.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$50</div>
                <h4 class="list-group-item-heading">Bridal Makeup Trial</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/makeup.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$45</div>
                <h4 class="list-group-item-heading">Special Occassion Makeup</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/lashes.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$15</div>
                <h4 class="list-group-item-heading">Faux Lashes</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/refresh.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$20</div>
                <h4 class="list-group-item-heading">Refresh</h4>
                <p class="list-group-item-text">Eyes, lips & cheeks</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/lower-legs.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$35</div>
                <h4 class="list-group-item-heading">Lower Legs</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/full-legs.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$50</div>
                <h4 class="list-group-item-heading">Full Legs</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/toes.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$10</div>
                <h4 class="list-group-item-heading">Toes</h4>
                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
    </div>
  </div>
</div>


