<div class="well row">
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item">
          <div class="row-picture">
              <%= image_tag("services/haircut-men.png", class: "circle") %>
          </div>
          <div class="row-content">
              <div class="least-content">$35</div>
              <h4 class="list-group-item-heading">Men's Haircut</h4>
          </div>
      </div>
      <div class="list-group-separator"></div>
      <div class="list-group-item">
          <div class="row-picture">
              <%= image_tag("services/hair-women.png", class: "circle") %>
          </div>
          <div class="row-content">
              <div class="least-content">$55</div>
              <h4 class="list-group-item-heading">Women's Haircut</h4>
          </div>
      </div>
      <div class="list-group-separator"></div>
      <div class="list-group-item">
          <div class="row-picture">
              <%= image_tag("services/neckline.png", class: "circle") %>
          </div>
          <div class="row-content">
              <div class="least-content">$10</div>
              <h4 class="list-group-item-heading">Bang or Neck Trim</h4>
          </div>
      </div>
      <div class="list-group-separator"></div>
      <div class="list-group-item">
        <div class="row-picture">
          <%= image_tag("services/blowout.png", class: "circle") %>
        </div>
        <div class="row-content">
          <div class="least-content">$35</div>
          <h4 class="list-group-item-heading">Blowout</h4>
          <p class="list-group-item-text">shampoo & blowdry</p>
        </div>
      </div>
      <div class="list-group-separator"></div>
      <div class="list-group-item">
        <div class="row-picture">
          <%= image_tag("services/bridal-makeup.png", class: "circle") %>
        </div>
        <div class="row-content">
          <div class="least-content">$25</div>
          <h4 class="list-group-item-heading">Split End Treatment</h4>
          <p class="list-group-item-text">add-on service only</p>
        </div>
      </div>
      <div class="list-group-separator"></div>
      <div class="list-group-item">
          <div class="row-picture">
              <%= image_tag("services/keratin-complex.png", class: "circle") %>
          </div>
          <div class="row-content">
              <div class="least-content">$225 - $250</div>
              <h4 class="list-group-item-heading">Brazilian Blowout</h4>
              <p class="list-group-item-text">3-5 month re-bonding treatment</p>
          </div>
      </div>
      <div class="list-group-separator"></div>
      <div class="list-group-item">
        <div class="row-picture">
          <%= image_tag("services/scalp.png", class: "circle") %>
        </div>
        <div class="row-content">
          <div class="least-content">$10</div>
          <h4 class="list-group-item-heading">Scalp Massage</h4>
          <p class="list-group-item-text">add-on service only</p>
        </div>
      </div>
      <div class="list-group-separator"></div>
    </div>
  </div>

  <!-- SECTION TWO -->

  <div class="col-md-6">
    <div class="list-group">
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/color.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$60</div>
                <h4 class="list-group-item-heading">Color</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/gloss.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$40</div>
                <h4 class="list-group-item-heading">Gloss</h4>
                <p class="list-group-item-text">refreshes tone and shine</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/balayage-partial.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$100 - $120</div>
                <h4 class="list-group-item-heading">Partial Balayage or Foil</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/balayage-full.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$120 - $140</div>
                <h4 class="list-group-item-heading">Full Balayage or Foil</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>

        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/painting-part.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$45 - $50</div>
                <h4 class="list-group-item-heading">Painting the Part or Sectional Foil</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
          <div class="row-picture">
              <%= image_tag("services/bleach-tone.png", class: "circle") %>
          </div>
          <div class="row-content">
              <div class="least-content">$80 - $140</div>
              <h4 class="list-group-item-heading">Bleach & Tone</h4>
          </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
          <div class="row-picture">
              <%= image_tag("services/corrective-color.png", class: "circle") %>
          </div>
          <div class="row-content">
              <div class="least-content">$140+</div>
              <h4 class="list-group-item-heading">Corrective Color</h4>
          </div>
        </div>
    </div>
  </div>
</div>


