<div class="well row">
  <div class="col-lg-4">
    <div class="list-group">
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/brow-arch.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$20</div>
                <h4 class="list-group-item-heading">Brow Arch</h4>

            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/lip-wax.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$15</div>
                <h4 class="list-group-item-heading">Lip</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
              <%= image_tag("services/lip-brow.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$30</div>
                <h4 class="list-group-item-heading">Lip & Brow</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
          <div class="row-picture">
            <%= image_tag("services/chin.png", class: "circle") %>
          </div>
          <div class="row-content">
            <div class="least-content">$15</div>
            <h4 class="list-group-item-heading">Chin</h4>
          </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
          <div class="row-picture">
            <%= image_tag("services/cheek.png", class: "circle") %>
          </div>
          <div class="row-content">
            <div class="least-content">$15</div>
            <h4 class="list-group-item-heading">Cheeks</h4>
          </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
          <div class="row-picture">
            <%= image_tag("services/jawline.png", class: "circle") %>
          </div>
          <div class="row-content">
            <div class="least-content">$15</div>
            <h4 class="list-group-item-heading">Jawline</h4>
          </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
          <div class="row-picture">
            <%= image_tag("services/forehead.png", class: "circle") %>
          </div>
          <div class="row-content">
            <div class="least-content">$15</div>
            <h4 class="list-group-item-heading">Forehead</h4>
          </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
          <div class="row-picture">
            <%= image_tag("services/ears.png", class: "circle") %>
          </div>
          <div class="row-content">
            <div class="least-content">$15</div>
            <h4 class="list-group-item-heading">Ears</h4>
          </div>
        </div>
        <div class="list-group-separator"></div>
    </div>
  </div>

  <!-- SECTION TWO -->

  <div class="col-lg-4">
    <div class="list-group">
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/nape.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$20</div>
                <h4 class="list-group-item-heading">Nape of the Neck</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/chest.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$30</div>
                <h4 class="list-group-item-heading">Chest</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/full-back.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$35</div>
                <h4 class="list-group-item-heading">Full Back</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/upper-back.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$20</div>
                <h4 class="list-group-item-heading">Half Back</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/shoulder.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$20</div>
                <h4 class="list-group-item-heading">Shoulders</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/stomach.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$25</div>
                <h4 class="list-group-item-heading">Abdomen</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/nipple.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$15</div>
                <h4 class="list-group-item-heading">Nipple</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/arms-lower.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$25</div>
                <h4 class="list-group-item-heading">Lower Arms</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/arms-full.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$35</div>
                <h4 class="list-group-item-heading">Full Arms</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/underarm.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$20</div>
                <h4 class="list-group-item-heading">Underarms</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/fingers.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$10</div>
                <h4 class="list-group-item-heading">Fingers</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
    </div>
  </div>

  <!-- SECTION 3 -->
  <div class="col-lg-4">
    <div class="list-group">
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/eyelash.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$130</div>
                <h4 class="list-group-item-heading">Lash Extensions</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/eyelash-fill.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$70</div>
                <h4 class="list-group-item-heading">Extensions Fill</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/brazilian.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$65</div>
                <h4 class="list-group-item-heading">Brazilian</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/extended-bikini.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$50</div>
                <h4 class="list-group-item-heading">Extended Bikini</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/bikini-line.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$35</div>
                <h4 class="list-group-item-heading">Bikini Line</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/buttocks.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$35</div>
                <h4 class="list-group-item-heading">Buttocks</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/between-the-cheeks.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$20</div>
                <h4 class="list-group-item-heading">Between the Cheeks</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/lower-legs.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$35</div>
                <h4 class="list-group-item-heading">Lower Legs</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/full-legs.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$50</div>
                <h4 class="list-group-item-heading">Full Legs</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/toes.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$10</div>
                <h4 class="list-group-item-heading">Toes</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
    </div>
  </div>
</div>

