


<h2>Get in Touch</h2>
<p class="secondary">
Phone: <b>206.678.6876</b>
<br>
96 Columbia Street
Seattle, WA 98104
<br>
Contact email: appointments (at) burntdistrict (dot) com

</p>
<p class="clearbg">We are located on the corner of 1st.
Our discrete entrance is just around the corner from (and technically below) Fado Irish Pub. If you see a thai restaurant called Mae Phim… you're here! You just haven't seen us yet.
We have small signage and a gold "96" on our door.</p>
<p class="secondary">
Hours:
Monday-Friday: 10:00 - 6:00
Closed: Holidays and Weekends
</p>
<h2>Staff</h2>
<ul>
  <li class="profile row">
    <div class="large-3 columns">
      <%= image_tag("WEB_MadisonHeadCrop.png") %>
    </div>
    <div class="large-9 columns">
      <p class="name">Madison Walker, </p>
      <p class="subheader title">Founder, Head Stylist </p>
      <p class="bio">With 11 years experience in the salon industry, including 8 years at the prestigious Gene Juarez, Madison is a true expert . After building a dedicated clientele, Madison felt the entrepreneur call to build her own vision of the ideal salon experience. Madison is Balayage certified for coloring and specializes in men's haircuts. She is highly involved with the Seattle community and is a member of the Post Alley Project. In addition, she has been volunteering at  </p>
    </end>
  </li>
  <li class="profile row">
    <div class="large-3 columns">
      <%= image_tag("WEB_ChrisHat.png") %>
    </div>
    <div class="large-9 columns">
      <p class="name">Christopher Stice,</p>
      <p class="subheader title">Stylist</p>
      <p class="bio">Working side by side with Madison for eight years at Gene Juarez, Christopher joined Burnt District as their top colorist. Christopher is extensively trained in Balayage and is certified in the French technique. Outside of Burnt District, Chris is a lead volunteer at the Gay City Wellness Center and is an advocate for LGBT community events. </p>
    </div>
  </li>
  <li class="profile row">
    <div class="large-3 columns">
      <%= image_tag("WEB_MalloryHead.png") %>
    </div>
    <div class="large-9 columns">
      <p class="name">Mallory Hansen,</p>
      <p class="subheader title">Stylist </p>
      <p class="bio">Mallory Hansen is Madison Walker's protege and has been gleaning as much as possible working side by side with her. She was trained at The Salon Professional Academy and is now in her third year styling as a professional. Before pursuing her professional career as a stylist, she attended Cornish College of the Arts as a musical theatre major. She is often seen around town carrying a Cherry Street coffee cup in her hand.</p>
    </div>
  </li>
  <li class="profile row">
    <div class="large-3 columns">
      <%= image_tag("WEB_SamHead.png") %>
    </div>
     <div class="large-9 columns">
      <p class="name">Samantha Roy,</p>
      <p class="subheader title">Esthetician </p>
      <!-- <p class="bio">Samantha Roy was born a poor young black girl in the heart of Compton. She spent her youth years doing corn rows for crack until she got her first big break when Ice T knocked her up outside an LA strip joint. When Ice T found out about their child 2 years later, he gave her to the money to pursue a new life. She chose to ride the rails north and landed in Seattle's Central District. That's when Madison scrapped her out of the gutter and let her live in the Seattle Underground. </p> -->
      <p class="bio">Samantha Roy is a meticulous estecian with an unparalled eye for detail. She strives to provide a laidback, comfortable and professional atmosphere. After living in Korea for three months, Sam decided to pursue a career in esthetics and returned to school for training at the Gary Manuel Aveda Institute. Outside of her career, Sam has a passion for creative endeavors and in particular loves Japanese culture.
      </p>

    </div>
  </li>
  <li class="profile row">
    <div class="large-3 columns">
      <%= image_tag("WEB_AndrewHead.png") %>
    </div>
    <div class="large-9 columns">
      <p class="name">Andrew Shenstone,</p>
      <p class="subheader title">Web Master </p>
      <p class="bio">Andrew is an entrepreneur turned web developer. He has been building websites since 2010 and has focused primarily on front end development. Andrew broke ground on Burnt District with Madison and has been helping out ever since. In addition to website development, Andrew spends his spare time rock climbing and "nerding out" on things like Magic: the Gathering and other games. </p>
    </div>
  </li>
</ul>

