<div class="well row">
  <div class="list-group">
    <div class="list-group-item col-lg-6 col-md-6">
      <div class="row-picture">
        <%= image_tag("WEB_MadisonHeadCrop.png", class: "circle") %>
      </div>
      <div class="row-content">
        <div class="least-content">Founder</div>
        <h4 class="list-group-item-heading">Madison</h4>
        <p class="list-group-item-text">With 11 years experience in the salon industry, including 8 years at the prestigious Gene Juarez, Madison is a true expert. After building a dedicated clientele, Madison felt the entrepreneur call to build her own vision of the ideal salon experience. Madison is a hair design specialist. She is highly involved with the Seattle community, running the wig fitting department at the Seattle Cancer Care Alliance and is also an active member of the Post Alley Project.</p>
      </div>
      <div class="list-group-separator"></div>
    </div>
    <div class="list-group-item col-lg-6 col-md-6">
      <div class="row-picture">
        <%= image_tag("WEB_MalloryHead.png", class: "circle") %>
      </div>
      <div class="row-content">
        <div class="least-content">Hair Design & Color Specialist</div>
        <h4 class="list-group-item-heading">Mallory</h4>
        <p class="list-group-item-text">Mallory is Madison's protege and has been gleaning as much as possible working side by side with her. She was trained at The Salon Professional Academy and is now in her third year styling as a professional. Before pursuing her professional career as a stylist, she attended Cornish College of the Arts as a musical theatre major. She is often seen around town carrying a Cherry Street coffee cup in her hand.</p>
        <div class="list-group-separator"></div>
      </div>
    </div>
    <div class="list-group-item col-lg-6 col-md-6">
      <div class="row-picture">
        <%= image_tag("WEB_SamHead.png", class: "circle") %>
      </div>
      <div class="row-content">
        <div class="least-content">Esthetician & Makeup Artist</div>
        <h4 class="list-group-item-heading">Samantha</h4>
        <p class="list-group-item-text">Samantha is a meticulous esthetician with an unparalled eye for detail. She strives to provide a laidback, comfortable and professional atmosphere. After living in Korea for three months, Sam decided to pursue a career in esthetics and returned to school for training at the Gary Manuel Aveda Institute. Outside of her career, Sam has a passion for creative endeavors and in particular loves Japanese culture.</p>
        <div class="list-group-separator"></div>
      </div>
    </div>
    <div class="list-group-item col-lg-6 col-md-6">
      <div class="row-picture">
        <%= image_tag("WEB_JacqueHead.png", class: "circle") %>
      </div>
      <div class="row-content">
        <div class="least-content">Hair Design & Color Specialist</div>
        <h4 class="list-group-item-heading">Jacque</h4>
        <p class="list-group-item-text">Jacque first began hair design on the hair and make-up crew in her highschool theatre group. A few experimental colors and box cutter razor cuts later, she found herself absorbed in being able to transform her friends and family into a piece of art. Fleeing the Southwest, she landed in Seattle to train with the experts at Gene Juarez and worked with them for two years. She now sculpts hair by day and keeps up with Seattle's music scene by night with her band, Stations. Look for tracks and upcoming shows at www.facebook.com/stations.</p>
        <div class="list-group-separator"></div>
      </div>
    </div>
    <div class="list-group-item col-lg-6 col-md-6">
      <div class="row-picture">
        <%= image_tag("WEB_AndrewHead.png", class: "circle") %>
      </div>
      <div class="row-content">
        <div class="least-content">Technology</div>
        <h4 class="list-group-item-heading">Andrew</h4>
        <p class="list-group-item-text">Andrew is a full-stack website develop working at Ply Interactive in Lower Queen Anne. Andrew broke ground on Burnt District with Madison and has been helping out ever since. In addition to website development, Andrew helps organize events and consults on customer experience.</p>
        <div class="list-group-separator"></div>
      </div>
    </div>
  </div>
</div>
