<div class="well row">
  <div class="list-group">
    <div class="list-group-item col-xs-12">
      <h4 style="font-weight: bold; margin-bottom: 15px;">MEMBERSHIP</h4>
    </div>
    <div class="list-group-item col-lg-8 col-md-8">
      <div class="row-content" style="margin-left: 72px; min-height: 0;">
        <!-- <h4 class="list-group-item-heading">Burnt District speakeasy salon and spa. Members only.</h4> -->
        <p class="list-group-item-text">Becoming a member is easy and complementary.</p>
      </div>
    </div>
  </div>
  <div class="list-group">
    <div class="list-group-item col-xs-12">
      <h4 style="font-weight: bold; margin-bottom: 30px; margin-top: 30px;">ARTISTS</h4>
    </div>
    <div class="list-group-item col-lg-6 col-md-6">
      <div class="row-picture">
        <%= image_tag("WEB_MadisonHeadCrop.png", class: "circle") %>
      </div>
      <div class="row-content">
        <div class="least-content">Founder</div>
        <h4 class="list-group-item-heading">Madison</h4>
        <p class="list-group-item-text">With 11 years experience in the salon industry, including 8 years at the prestigious Gene Juarez, Madison is a true expert. After building a dedicated clientele, Madison felt the entrepreneur call to build her own vision of the ideal salon experience. Madison is a hair design specialist. She is highly involved with the Seattle community, running the wig fitting department at the Seattle Cancer Care Alliance and is also an active member of the Post Alley Project.</p>
      </div>
      <div class="list-group-separator"></div>
    </div>
    <div class="list-group-item col-lg-6 col-md-6">
      <div class="row-picture">
        <%= image_tag("WEB_MalloryHead.png", class: "circle") %>
      </div>
      <div class="row-content">
        <div class="least-content">Hair Design & Color Specialist</div>
        <h4 class="list-group-item-heading">Mallory</h4>
        <p class="list-group-item-text">Mallory is Madison's protege and has been learning as much as possible working side by side with her. She was trained at The Salon Professional Academy and is now in her third year styling as a professional. Before pursuing her professional career as a stylist, she attended Cornish College of the Arts as a musical theatre major. She is often seen around town carrying a Cherry Street coffee cup in her hand.</p>
        <div class="list-group-separator"></div>
      </div>
    </div>
    <div class="list-group-item col-lg-6 col-md-6">
      <div class="row-picture">
        <%= image_tag("WEB_SamHead.png", class: "circle") %>
      </div>
      <div class="row-content">
        <div class="least-content">Esthetician & Makeup Artist</div>
        <h4 class="list-group-item-heading">Samantha</h4>
        <p class="list-group-item-text">Sam is an Esthetician with a sharp eye for detail. She strives to provide top service in a laid back, yet professional setting. After living in Korea for 3 months, she returned to pursue a career through the Gary Manuel Aveda  Institute Esthetics Program. With a particular interest in Makeup Artistry, she has continued her education through the Makeup Forever Academy in NYC. Outside of her career, she is an animal lover, fan of Japanese culture and enjoys anything allowing her to be creative.</p>
        <div class="list-group-separator"></div>
      </div>
    </div>
    <div class="list-group-item col-lg-6 col-md-6">
      <div class="row-picture">
        <%= image_tag("WEB_AndreaHead.png", class: "circle") %>
      </div>
      <div class="row-content">
        <div class="least-content">Stylist</div>
        <h4 class="list-group-item-heading">Andrea</h4>
        <p class="list-group-item-text">With 10 years experience and a masters in Redken from the Regency School of Minnesota, Andrea is a welcome addition to the Burnt District team. As busy as she is with keeping up with the latest in hair artistry, you can find Andrea mixing a mean cocktail at The Great Nabob on weekend nights. If she ever decides to take a break, you can find her Mexico where she lived for a year.</p>
        <div class="list-group-separator"></div>
      </div>
    </div>
    <div class="list-group-item col-lg-6 col-md-6">
      <div class="row-picture">
        <%= image_tag("WEB_AndrewHead.png", class: "circle") %>
      </div>
      <div class="row-content">
        <div class="least-content">Technology</div>
        <h4 class="list-group-item-heading">Andrew</h4>
        <p class="list-group-item-text">Andrew is a full-stack website develop working at Ply Interactive in Lower Queen Anne. Andrew broke ground on Burnt District with Madison and has been helping out ever since. In addition to website development, Andrew helps organize events and consults on customer experience.</p>
        <div class="list-group-separator"></div>
      </div>
    </div>
  </div>
</div>
