
<section class="small-12 columns" id="services_section">
  <div id="break45px">
  </div>
  <div id="servicesbackground">
    <%= render "header" %>
    <%= render "nav_modal" %>
    <%= render "address" %>
  </div>

</section>

<section class="small-12 columns" id="district_section">
  <!-- Need to add a 45 pixel border because things hide under the top menu. Other option is to offset the animate to top by 45px, look into this. -->
  <div id="break45px">
  </div>
  <div id="div1">
  </div>
  <div id="districtbackground">
    <%= render "district" %>
  </div>
</section>

<section class="small-12 columns membership" id="membership_section">
  <div id="break45px">
  </div>
  <div id="div2">
  </div>
  <div id="membershipbackground">
    <%= render "membership" %>
  </div>
</section>

<section class="small-12 columns contact" id="contact_section">
  <div id="break45px">
  </div>
  <div id="div3">
  </div>
  <div id="contactbackground">
    <%= render "contact" %>
  </div>
</section>

<footer class="small-12 columns footer" id="footer_section">
  <div id="break45px">
  </div>
  <div id="div4">
  </div>
  <div id="footerbackground">
    <%= render "footer" %>
  </div>
</footer>
