
<%= render "header" %>
<section class ="services" id="services_section">
  <%= render "services" %>
</section>
<section class="address" id="address_section">
  <%= render "address" %>
</section>
<section class="district" id="district_section">
  <div id="div1"></div>
  <div id="districtbackground">
    <article>
      <%= render "district" %>
    </article>
  </div>
</section>
<section class="membership" id="membership_section">
  <div id="div2"></div>
  <div id="membershipbackground">
    <article>
      <%= render "membership" %>
    </article>
  </div>
</section>
<section class="contact" id="contact_section">
  <div id="div3"></div>
  <div id="contactbackground">
    <article>
      <%= render "contact" %>
    </article>
  </div>
</section>
<footer class="footer" id="footer_section">
  <div id="footerbackground">
    <%= render "footer" %>
  </div>
</footer>
