
<%= render "header" %>
<section class ="services" id="services_section">
  <%= render "services" %>
</section>
<%= render "address" %>
<section class="district" id="district_section">
  <div id="div1"></div>
  <div id="districtbackground">
    <div class="row">
      <div id="districtsection">
      <%= render "district" %>
      </div>
    </div>
  </div>
</section>
<section class="membership" id="membership_section">
  <div id="div2"></div>
  <div id="membershipbackground">
    <div id="membershipsection">
      <%= render "membership" %>
    </div>
  </div>
</section>
<section class="contact" id="contact_section">
  <div id="div3"></div>
  <div id="contactbackground">
    <div id="contactsection">
      <%= render "contact" %>
    </div>
  </div>
</section>
<footer class="footer" id="footer_section">
  <div id="footerbackground">
    <%= render "footer" %>
  </div>
</footer>
