<section class="small-12 columns background" id="services_section">
  <div id="servicesbackground">
    <%= render "header" %>
    <%= render "address" %>
    <%= render "services" %>
  </div>

</section>

<section class="small-12 columns background" id="district_section">
  <!-- Need to add a 45 pixel border because things hide under the top menu. Other option is to offset the animate to top by 45px, look into this. -->
  <div id="break45px">
  </div>
  <div id="div1">
  </div>
  <div id="districtbackground">
    <%= render "district" %>
  </div>
</section>
<section class="small-12 columns background" id="contact_section">
  <div id="contactbackground">
    <%= render "contact" %>
  </div>
</section>
<section class="small-12 columns" id="membership_section">
  <div id="membershipbackground">
    <%= render "membership" %>
  </div>
</section>
<section class="small-12 columns" id="footer_section">
  <div id="footerbackground">
    <%= render "footer" %>
  </div>
</section>
