<section class="services" id="services">
  <%= render "header" %>
  <%= render "services" %>
</div>
<section class="district" id="district">
  <%= render "header" %>
  <%= render "district" %>
</div>
<section class="contact" id="contact">
  <%= render "header" %>
  <%= render "contact" %>
</div>
<section class="membership" id="membership">
  <%= render "header" %>
  <%= render "membership" %>
</section>

<%= render "footer" %>
