<header class="header">
  <%= render "header" %>
</header>

<section class ="services" id="services_section">
  <div id="services_scroll">
  <%= render "services" %>
  </div>
</section>

<section class="address" id="address_section">
  <%= render "address" %>
</section>

<section class="district" id="district_section">
  <div id="div1"></div>
  <div class="background" id="district_scroll" >
    <article>
      <%= render "district" %>
    </article>
  </div>
</section>

<section class="membership" id="membership_section">
  <div id="div2"></div>
  <div class="background" id="membership_scroll">
    <article>
      <%= render "membership" %>
    </article>
  </div>
</section>

<section class="contact" id="contact_section">
  <div id="div3"></div>
  <div class="background" id="contact_scroll">
    <article>
      <%= render "contact" %>
    </article>
  </div>
</section>

<footer class="footer" id="footer_section">
  <div id="footerbackground">
    <%= render "footer" %>
  </div>
</footer>
