<section class="small-12 columns" id="services_section">
  <%= render "header" %>
  <%= render "address" %>
  <%= render "services" %>
</section>
<section class="small-12 columns" id="district_section">
  <%= render "district" %>
</section>
<section class="small-12 columns" id="contact_section">
  <%= render "contact" %>
</section>
<section class="small-12 columns" id="membership_section">
  <%= render "membership" %>
</section>

<%= render "footer" %>
